# PYTHON
venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyc
*.so
*$py.class

.pytest_cache/
.coverage
.pytest_result/

# DJANGO
*.sqlite3
db.sqlite3

staticfiles/
media/

.env
.env.local
.env.*.local

# LOGS
backend/runtime_logs/
*.log
logs/

# IDE & EDITORS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# DEVELOPMENT
htmlcov/
.tox/
.nox/
dist/
build/
*.egg-info/
.eggs/
.site/
.pybuilder/

# TESTING & COVERAGE
coverage.xml
*.cover

# MISCELLANEOUS
*.pot

# KEEP tracked files
runtime.txt
requirements.txt
manage.py
config/
apps/
.env.example
.github/
